<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            <h2 class="footer__title title title_big">
                СВЯЗАТЬСЯ С НАМИ
            </h2>
            <p class="footer__desc">
                [Связь с нами.
                <span>Контакты]</span>
            </p>
        </div>
        <div class="footer__content">
            <div class="footer__columns">
                <div class="footer__column">
                    <div class="footer__item">
                        <h4 class="footer__item-title">Меню</h4>
                        <ul class="footer__item-list">
                            <li class="footer__item-item">
                                <a href="#">Главная</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">О компании</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">Кейсы</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">Услуги</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">Этапы работы</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__item">
                        <h4 class="footer__item-title">Контакты</h4>
                        <ul class="footer__item-list">
                            <li class="footer__item-item">
                                <a href="#">+7 906 238-77-29</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">+7 906 216-55-56</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">swakulenko@mail.ru</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h4 class="footer__item-title">Соц. сети</h4>
                        <ul class="footer__item-list footer__item-list_socials">
                            <li class="footer__item-item">
                                <a href="#">
                                    <p>MAX</p>
                                </a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">
                                    <p>VK</p>
                                </a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">
                                    <p>Telegram</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h4 class="footer__item-title">Адрес</h4>
                        <ul class="footer__item-list">
                            <li class="footer__item-item">
                                <p>238326, Калининградская область, г. Зеленоградск, ул. Московская, д. 64, кв. 56</p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h4 class="footer__item-title">График работы</h4>
                        <ul class="footer__item-list">
                            <li class="footer__item-item">
                                <p>Пн-Пт: 08:00–17:00</p>
                            </li>
                            <li class="footer__item-item">
                                <p>Перерыв 12:00–13:00</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__item">
                        <h4 class="footer__item-title">Данные</h4>
                        <ul class="footer__item-list footer__item-list_info">
                            <li class="footer__item-item">
                                <a href="#">Реквизиты компании</a>
                            </li>
                            <li class="footer__item-item">
                                <a href="#">Разработка aimart</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="footer__docs">
                        <li class="footer__docs-item">
                            <a href="#">Пользовательское соглашение</a>
                        </li>
                        <li class="footer__docs-item">
                            <a href="#">Пользовательское соглашение</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="#" class="footer__form form-callback">
                <div class="form-callback__labels">
                    <label class="form-callback__label">
                        <input placeholder="Название ИП" type="text" class="form-callback__input">
                    </label>
                    <label class="form-callback__label">
                        <input placeholder="+7 (000) 000-00-00" type="text" class="form-callback__input">
                    </label>
                    <label class="form-callback__label">
                        <input placeholder="E-mail" type="text" class="form-callback__input">
                    </label>
                    <label class="form-callback__label form-callback__file js-file-wrapper">
                        <input type="file" class="js-file-input" accept=".pdf, .doc, .docx, .jpg, .jpeg, .png" hidden>
                        <span class="js-file-name">Загрузить файл</span>
                        <button type="button" class="form-callback__file-button js-file-btn">
                            <img src="./img/icons/upload.svg" alt="">
                        </button>
                        <button type="button" class="form-callback__delete js-file-delete">
                            <img src="./img/icons/close.svg" alt="">
                        </button>
                    </label>
                    <label class="form-callback__label">
                        <textarea placeholder="Краткое описание объекта" type="text" class="form-callback__input"></textarea>
                    </label>
                </div>
                <button type="submit" class="form-callback__button button button_white">
                    <span>Отправить запрос</span>
                </button>
                <p class="form-callback__agree">
                    Продолжая, вы даете свое согласие на <a href="#">обработку Ваших персональных данных</a> и принимаете условия <a href="#">Пользовательского соглашения.</a>
                </p>
            </form>
        </div>
        <img loading="lazy" src="./img/footer-logo.svg" alt="" class="footer__logo">
    </div>
</footer> 