<header class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <button type="button" class="header__burger"></button>
            <a href="#" class="header__logo">
                <img src="./img/lightLogo.svg" alt="">
                <img src="./img/darkLogo.svg" alt="">
            </a>
            <a href="#" class="header__button header__button_pc">
                <p>Связаться</p>
                <div class="header__button-icon">
                    <img src="./img/icons/arrow-tr-light.svg" alt="">
                    <img src="./img/icons/arrow-tr-dark.svg" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu-container container">
            <div class="header__navigation">
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">главная</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">О КОМПАНИИ</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">кейсы</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">услуги</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">этапы работы</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__item">
                    <a href="#" class="header__item-top">
                        <p class="header__item-name">контакты</p>
                        <div class="header__item-arrow">
                            <img src="./img/icons/arrow-tr-light.svg" alt="">
                            <img src="./img/icons/arrow-tr-dark.svg" alt="">
                        </div>
                    </a>
                    <div class="header__item-content">
                        <p class="header__item-go">Перейти</p>
                        <ul class="header__item-list">
                            <li class="header__item-list-item">
                                <a href="#">Апартаменты «Пионерск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">Гостиница «Зеленоградск»</a>
                            </li>
                            <li class="header__item-list-item">
                                <a href="#">ЖК «На Подлесной»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__contacts">
                    <div class="header__contacts-column">
                        <h4 class="header__contacts-column-title">Контакты</h4>
                        <ul class="header__contacts-column-list">
                            <li class="header__contacts-column-item">
                                <a href="#">+7 963 294-45-81</a>
                            </li>
                            <li class="header__contacts-column-item">
                                <a href="#">+7 4012 60-51-05</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__contacts-column">
                        <h4 class="header__contacts-column-title">Соц. сети</h4>
                        <ul class="header__contacts-column-list header__contacts-column-list_socials">
                            <li class="header__contacts-column-item">
                                <a href="#">MAX</a>
                            </li>
                            <li class="header__contacts-column-item">
                                <a href="#">VK</a>
                            </li>
                            <li class="header__contacts-column-item">
                                <a href="#">Telegram</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="header__button header__button_mobile">
                    <p>Связаться</p>
                    <div class="header__button-icon">
                        <img src="./img/icons/arrow-tr-light.svg" alt="">
                        <img src="./img/icons/arrow-tr-dark.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>