@use 'lib' as *;

.form-callback {
	$self: &;

	display: flex;
	flex-direction: column;

	&_modal {
		#{$self}__input {
			color: $darkText;
		}
		#{$self}__file {
			color: $darkText;

			&.active {
				color: $darkText;
			}
		}
	}

	&__labels {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 60px;
	}

	&__label {

	}
	&__delete {
		display: none;

		img {
			width: 14px;
			object-fit: contain;
		}
	}

	&__file-button {
		display: block;

		img {
			width: 20px;
			object-fit: contain;
		}
	}

	&__file-button, &__delete {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__file {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 20px 0;
		border-bottom: 1px solid #A3A1A1;
		color: $lightText;
		width: 100%;
		color: #A3A1A1;
		position: relative;

		&.active {
			color: $lightText;
		}
	}

	&__input {
		padding: 20px 0;
		border-bottom: 1px solid #A3A1A1;
		color: $lightText;
		width: 100%;

		&::placeholder {
			color: #A3A1A1;
			opacity: 1;
		}
	}

	textarea {
		min-height: 110px;
	}

	&__button {
		margin-bottom: 20px;
	}

	&__agree {
		font-size: 12px;
		line-height: 160%;

		a {
			color: #A3A1A1;
		}
	}

}
