@use 'lib' as *;

.case {
	$self: &;
	padding-top: 106px;
	padding-bottom: fluid(150px, 80px);

	@include media("<=xs") {
		padding-top: 52px;
	}

	&_modal {
		padding-top: fluid(34px, 15px);
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: fluid(20px, 10px);
	}

	&__photo {
		width: 100%;
		height: fluid(690px, 500px);
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: fluid(575px, 260px) 1fr;
		gap: 36px;

		@include media("<=md") {
			grid-template-columns: 100%;
			gap: 60px;
		}
	}

	&__about {
		transform: translateX(36px);
		margin-top: -275px;
		padding: 40px;
		background: $lightText;

		@include media("<=md") {
			padding: 0;
			transform: none;
			margin-top: 0;
		}
	}

	&__desc {
		font-size: 14px;
		font-weight: 500;
		color: #A3A1A1;
		margin-bottom: fluid(60px, 40px);
	}

	&__title {
		font-family: "STAPEL";
		font-size: fluid(40px, 20px);
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: fluid(52px, 36px);
	}

	&__rows {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__row {
		border-bottom: 1px solid #A3A1A1;
		padding-bottom: 16px;
		display: grid;
		grid-template-columns: fluid(200px, 150px) 1fr;
	}

	&__row-title {
		color: #A3A1A1;
		font-family: "STAPEL";
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 160%;
	}

	&__row-text {
		font-family: "STAPEL";
		font-weight: 700;
		line-height: 160%;
	}

	&__text {
		margin-bottom: fluid(50px, 36px);
		font-weight: 500;
		color: #A3A1A1;
		line-height: 140%;
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: fluid(20px, 10px);
		height: fit-content;

		@include media("<=md") {
			order: -1;
		}

		@include media("<=xs") {
			grid-template-columns: repeat(3, 1fr)
		}
	}

	&__gallery-item {
		width: 100%;
		aspect-ratio: 140 / 115;
		object-fit: cover;
		cursor: pointer;
	}

}
